.filter {
    height: 500px;
    width: 100%;
}
    .rechercheBar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
    }
        .rechercheBar label{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            width: 50%;
            box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            padding: 0 20px;
        }
        .rechercheBar input {
            color: rgb(127, 127, 127);
            border: none;
            height: 40px;
            width: 100%;
        }
        .rechercheBar img{
            height: 35%;
            width: 6%;
            opacity: 0.6;
        }
    .filterBar {
        height: 280px;
        width: 100%;
        border: 0.5px rgb(130, 130, 130) solid ;
        padding: 10px;
    }
        #filterTitle{
            margin-left: 30px;
        }
        .filtercaracter{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 50px;
            width: 100%;
        }
            .filtercaracter select {
                border:1px solid rgb(130, 130, 130);
                border-radius: 30px;
                width: 283px;
                height: 30px;
                padding: 0 10px;
            }
            .timeFilter{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                height: 50px;
                width: 100%;
            }
                #filterButton input{
                    height: 30px;
                    width: 150px;
                    margin: 50px auto 10px;
                    margin-left: 45%;
                    background-color: white;
                    border: 0.5px solid #FF9B63;
                    border-radius: 10px;
                    color: #FF9B63;
                    font-size: 24px;
                }
                #filterButton input:hover{
                    background-color: #FF9B63;
                    border: 0.5px solid white;
                    color: white;
                }
    .filterResult {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px 0 50px;
    }